<%= form_for(@inmail) do |f| %>
  <% if @inmail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inmail.errors.count, "error") %> prohibited this inmail from being saved:</h2>

      <ul>
      <% @inmail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :to %><br>
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :from %><br>
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :headers %><br>
    <%= f.text_field :headers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
