

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-2">
          <%= button_to "New Email", new_outmail_path, :method => :get %>

        </div>

        <div class="col-md-2">
       <%= button_to "logout", logout_path, :method => :delete %>

        </div>

        <div class="col-md-1">
          <p></p>
        </div>




        <div class="col-md-8">
          <% if @inmails.count > 0 %>


        <h1>Inbox</h1>

          <table class ='table table-responsive table-striped table-hover table-condensed'>
            <thead>






                <tr>

                  <th>&nbsp &nbsp From</th>
                  <th>Message</th>
                  <th>Date</th>
                  <th colspan="3"></th>
                </tr>
                </thead>

                <tbody>
                <% @inmails.each do |inmail| %>

                    <% if inmail.to.to_s.include?(@current_user.zmail) %>
                    <tr>

                      <td><%= inmail.to %></td>

                      <td><%= inmail.from %></td>
                      <td><%= inmail.body %></td>
                      <td><%= link_to 'Show', inmail %></td>
                      <td><%= link_to 'Destroy', inmail, method: :delete, data: { confirm: 'Are you sure?' } %></td>

                    </tr>
                    <% end %>

                <% end %>
                </tbody>


                     <% else %>
                       <p><em>your mailbox is empty</em></p>
                      <% end %>


            </table>

        </div>
        <!--Body content-->
      </div>
    </div>


