<p id="notice"><%= notice %></p>

<h1>Listing Outmails</h1>

<table>
  <thead>
    <tr>
      <th>To</th>
      <th>Subject</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outmails.each do |outmail| %>
      <tr>
        <td><%= outmail.to %></td>
        <td><%= outmail.subject %></td>
        <td><%= outmail.body %></td>
        <td><%= link_to 'Show', outmail %></td>
        <td><%= link_to 'Edit', edit_outmail_path(outmail) %></td>
        <td><%= link_to 'Destroy', outmail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outmail', new_outmail_path %>
